<h1>Code Name: Adjutant</h1>
<h2>A freelancer's down and dirty personal assistant.</h2>
<p>CN:Adjutant is a simple Web app that facilitates the tracking of clients, projects, billable hours, project documents and invoicing all in one place.</p>

<%= link_to "Click here to start using CN:Adjutant", clients_path %>
